name: test and release

on:
  push:

jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: set up go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    - name: checkout
      uses: actions/checkout@v2
    - name: lint
      run: |
        make fmt
        make lint
    - name: test
      run: |
        make test
  release:
    name: release by ghr
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: macos-latest
    steps:
    - name: set up go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    - name: checkout
      uses: actions/checkout@master
    - name: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        make release
